<div class="container">
	<div class="content">
		<h1>Memorize Text</h1>

		{#if seenWorkbooks.length}
			<h2>Review one of your decks</h2>

			<ul>
				{#each seenWorkbooks as seenWorkbook}
					<li>
						<a href="{ asr.makePath('workbook', { key: seenWorkbook.key }) }">
							{seenWorkbook.name}
						</a>
					</li>
				{/each}
			</ul>
		{/if}

		<h2>Memorize a new deck</h2>

		<label>
			Google Sheets share link
			<input
				type="text"
				bind:value="sheetUrl"
				on:change="loadSheet(sheetUrl)"
				placeholder="https://docs.google.com/spreadsheets/d/1C6EBjsS-FY6KPzKnHCVFEcpYy_Gh_bvAJWcma50Qwrw/edit?usp=sharing"
			>
		</label>

		<hr>

		<h2>Try an example deck</h2>

		<ul>
			<li>
				<a href="{ asr.makePath('workbook', { key: '1C6EBjsS-FY6KPzKnHCVFEcpYy_Gh_bvAJWcma50Qwrw' }) }">Good verses to memorize</a>
			</li>
		</ul>

		{#if error}
			<div style="color: var(--red)">Error: {error}</div>
		{/if}
	</div>
	<div class="footer">
		<a href="https://github.com/TehShrike/memorize-text-app/">Github</a>
	</div>
</div>

<script>
import sheetsy from 'sheetsy'

const { urlToKey } = sheetsy

export default {
	data() {
		return {
			sheetUrl: ``,
		}
	},
	methods: {
		loadSheet(url) {
			try {
				const key = urlToKey(url)
				this.mediatorCall(`stateGo`, `workbook`, { key })
			} catch (error) {
				this.set({
					error,
				})
			}
		},
	},
}
</script>
