sudo: true
language: node_js
node_js:
  - "10"
script:
  - npm run test
  - npm run build
deploy:
  - provider: script
    skip_cleanup: true
    script: ./travis-ci-deploy.sh
    on:
      branch: master
