:root {
	--inputTransition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input {
	display: block;
	width: calc(100% - 24px);
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--lightBlack);
	background-color: var(--inputWhite);
	background-image: none;
	border: 1px solid var(--lightGray);
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

	font-family: inherit;
	margin: 0;
	font: inherit;

	transition: var(--inputTransition);
}

input:focus {
	box-shadow: 0 0 0 4px var(--boxShadowColor);
}


button {
	display: inline-block;
	height: 48px;
	color: var(--white);
	background-color: var(--mediumBlue);
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 12px 12px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: 4px;
	transition: var(--inputTransition);
	white-space: nowrap;
}
button:hover, button:active {
	background-color: var(--blue);
}
button:focus {
	box-shadow: 0 0 0 4px var(--mediumBlueHalfTransparent);
}
