input {
	display: block;
	width: calc(100% - 24px);
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: var(--lightBlack);
	background-color: var(--white);
	background-image: none;
	border: 1px solid var(--lightGray);
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

	font-family: inherit;
	margin: 0;
	font: inherit;
}
