<div class="container">


    <header>
        <h2>{workbook.name}</h2>
    </header>


    <main>
        {#if forgotten}
            {workbook.name} has been deleted.<br>
            <button style="background-color: var(--green);" on:click="restoreWorkbook({key}, {workbook})">Restore</button>
        {:else}
            <button style="background-color: var(--red);" on:click="forgetAndPrepareForUndo({key})">Remove <b>{workbook.name}</b> from this app</button>
        {/if}
    </main>


    <footer>

    </footer>


</div>



<script>
export default {
    data() {
	    return {
            sheetUrl: ``,
            forgotten: false,
        }
    },
	components: {
		
    },
	methods: {
        async forgetAndPrepareForUndo(key) {
            this.mediatorCall(`forgetWorkbook`, key.key);
            this.set({forgotten: true})
        },
        restoreWorkbook(key, workbook) {
            this.set({forgotten: false})
            this.mediatorCall(`rememberWorkbook`, key.key, workbook.workbook.name)
        }
    }
}
</script>