/* Heavily stolen from http://pixyll.com/ */

:root {
	--mediumBlueRgb: 0, 118, 223;
	--black: #1b1b1b;
	--lightBlack: #646464;
	--gray: #95a5a6;
	--lightGray: #d4dbdb;
	--lighterGray: #dee3e3;
	--white: #fefefe;
	--reallyDarkNavy: #2C3E50;
	--reallyDarkNavyHover: #42586D;
	--mediumBlue: rgb(var(--mediumBlueRgb));
	--mediumBlueHalfTransparent: #0076df7F;
	--blue: #04819E;
	--red: #C61700;
	--brightRed: #FF1E00;
	--deepCarrot: #FF7F00;

	--boxShadowColor: rgba(44, 62, 80, 0.25);
}

body {
	color: var(--black);
	background-color: var(--white);
}

a {
  color: var(--mediumBlue);
  text-decoration: none;
}

a:visited {
	color: var(--blue);
}

a:hover, a:focus, a:active {
	border: 0;
	color: var(--deepCarrot);
}

pre, code {
	background-color: var(--lightGray);
	border-radius: 3px;
}

hr {
	border: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: var(--lightGray);
}

p { line-height: 1.5; }

h1.big { font-size: 2.5rem; }

h1 { font-size: 1.25rem; }

h2 { font-size: 1rem; }

h3 { font-size: .9rem; }

h4 { font-size: 0.8rem; }

h5 { font-size: 0.7rem; }

body {
	font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 900;
	line-height: 1.25;
	margin-top: 1rem;
	margin-bottom: .5rem;
}

strong a { font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif; }

p, dl, ol, ul { font-size: 1rem; margin-top: 0; margin-bottom: 1rem; }

ol, ul { padding-left: 2rem; }

li { padding-top: .3rem; padding-bottom: .3rem; }

pre, code, samp { font-family: "Source Code Pro", Consolas, monospace; font-size: inherit; }

pre { margin-top: 0; margin-bottom: 1rem; overflow-x: scroll; max-width: calc(100vw - calc(var(--containerPadding) * 2))}

hr { margin-top: 2rem; margin-bottom: 2rem; }

blockquote { margin-top: 2rem; margin-bottom: 2rem; margin-left: 0; padding-left: 1rem; padding-right: 1rem; }

blockquote, blockquote p { font-size: 1.25rem; font-style: italic; }

html {
	font-size: 14px;
}

@media screen and (min-width: 600px) {
	html {
		font-size: 16px;
	}
	blockquote {
		margin-left: 2rem;
		padding: 2rem;
	}
}
@media screen and (min-width: 800px) {
	html {
		font-size: 18px;
	}
}
@media screen and (min-width: 1000px) {
	html {
		font-size: 20px;
	}
}
