html {
	height: 100%;
}
html, body, uiview {
	padding: 0;
	margin: 0;
}

:root {
	--containerPadding: 16px;
}

.container {
	height: 100vh;
	overflow: auto;
	width: calc(100vw - calc(var(--containerPadding) * 2));
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0 var(--containerPadding);
}

[data-is-touchscreen=true] .container {
	/* https://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html */
	min-height: 85vh;
}

header {
	max-width: 800px;
	text-align: left;
	width: 100%;
}

main {
	flex: 1 0 auto;
	max-width: 800px;
	width: 100%;
	padding: 16px 0;
}

footer {
	flex-shrink: 0;
	width: 100%;
	padding: 16px 0;
}

#app-target {
	display: flex;
	flex-direction: column;
	align-items: center;
}
